@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprender acerca de <a href="https://docs.microsoft.com/aspnet/core">crear aplicaciones Web con ASP.NET Core</a>.</p>
</div>
