
@{
    ViewData["Title"] = "Acerca de";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>La experiencia profesional que he adquirido por más de una década, se ha centrado en la toma de decisiones y en el apoyo a las mismas sustentadas en el análisis de información, 
        soportada en los datos de la operación del día a día consolidándola mensualmente; así como, en la coordinación de procesos, a través de administración de personal para la 
        integración del equipo de trabajo multidisciplinario. <br>Soy Egresado de la Licenciatura en Matemáticas Aplicadas y Computación por la Universidad Nacional Autónoma de México, 
        poseo un nivel intermedio de inglés y he trabajado con diferentes tecnologías para la administración, captura, almacenamiento, análisis de datos; así como desarrollo de 
        herramientas informáticas para eficientar procesos y apoyar la toma de decisiones.</p>
    <div>
        <a href="mailto:gmo.rodriguez@gmail.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/guillermo-rodr%C3%ADguez-74b10039/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/MemoRodz"><i class="fab fa-github"></i></a>
        <a href="https://t.me/PorEsoNoUsoUserName"><i class="fa-brands fa-telegram"></i></a>
    </div>
</main>

